{
  "extends": ["next", "prettier", "plugin:tailwindcss/recommended"],
  "rules": {
    "import/prefer-default-export": "off",
    "tailwindcss/no-custom-classname": "off",
    "react-hooks/exhaustive-deps": "off",
    "no-console": "off",
    "no-var": "error",
    "no-html-link-for-pages": "off"
  }
}
