Django
gunicorn
matplotlib
numpy
Pillow
psycopg2-binary
randimage
whitenoise
channels
channels-redis
daphne
django-cors-headers
django-storages
djangorestframework
djangorestframework-simplejwt
boto3
requests
django-fieldsignals
# torch