Django==4.1.4
gunicorn==22.0.0
matplotlib==3.7.1
numpy==1.24.2
Pillow==10.3.0
psycopg2==2.9.5
psycopg2-binary==2.9.5
randimage==1.2
whitenoise==6.3.0
channels==4.0.0
channels-redis==4.0.0
daphne==4.0.0
django-cors-headers==3.13.0
django-storages==1.13.2
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
boto3==1.26.88
requests==2.32.0
django-fieldsignals==0.7.0
# torch==2.0.0
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
sqlparse>=0.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
twisted>=23.10.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability