#btn-3d {
  --purple: #db07d1;
  --pink: #f2056f;
  --blue: #61dafb;

  appearance: none;
  border: none;
  cursor: pointer;
  background-color: #acc7ed;
  color: #fff;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  outline: none;
  margin: 0;
  padding: 25px;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  #btn-3d {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 425px) {
  #btn-3d {
    width: 70px;
    height: 70px;
  }
}

.shapes {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: 50%;
  background: linear-gradient(
    60deg,
    var(--blue) 0%,
    #d6cbf6 30%,
    var(--pink) 70%
  );
}

.blush {
  position: absolute;
  bottom: -15px;
  width: 100px;
  height: 30px;
  filter: blur(20px);
}

.blush.pink {
  right: 20px;
  background: var(--purple);
}

.blush.blue {
  left: 20px;
  background: var(--blue);
}

.shapes .container {
  z-index: 10;
  position: absolute;
  /* background-color: rgba(255, 0, 0, 0.248); */
  border-radius: 50%;
  top: -40px;
  bottom: -40px;
  left: -40px;
  right: -40px;
  width: calc(100% + 80px);
  pointer-events: none;
}

.shapes canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.label {
  width: 100%;
  transform: translateZ(0);
  font-weight: 400;
  font-size: clamp(0.1rem, 5vw, 1.5rem);
  z-index: 15;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
