@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: "Caveat", cursive;
  font-family: "Josefin Sans", sans-serif;
  user-select: none;
}

/* If the user is on mobile, then turn this on somehow */
/* @media only screen and (max-width: 768px) {
  html,
  body,
  #root {
    pointer-events: none;
  }
} */

canvas {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}

.custom-scroll-bar {
  overflow-y: auto;
}
.custom-scroll-bar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.custom-scroll-bar::-webkit-scrollbar-track {
  background: #dacbae;
  border-radius: 5px;
}
.custom-scroll-bar::-webkit-scrollbar-thumb {
  background: #a26621;
  border-radius: 5px;
}
.custom-scroll-bar::-webkit-scrollbar-thumb:hover {
  background: #633b0e;
}
